body{
color:#4b3100 ;
background-color:#6d4848 ;
margin: 0px;
margin-bottom: 100px;
}

header{
    border-bottom: solid 2px #cecece ;
    margin: 20px;
    font-size: 32px;
    color: rgb(252, 29, 29);
}


section{
     
padding-bottom: 80px;
padding-top: 80px;
background: rgb(95, 148, 119);
display: flex;
justify-content: center;
}


h1{
color:#fffb00 ;
font-size: 40px;
}

p{
    font-size: 20px;
}        


.categoria{

padding-left: 20px;
padding-right: 20px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img{

    height: 200px;
}



.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #1900ff;
    color: #5f0b70;
}